.hideMain {
    display: none;
}

body {
    background-color: #FFFAF5;
    border: black;
    border-style: solid;
    border-width: .2rem;
}
 

h1 {
    color: black;
    line-height: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.helpPopup {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 20px;
}

.helpBtn {
    background-color: #000000;
    border: none;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Moderat;
    font-weight: 500;
}

.homeHeader {
    /* Container Centering */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 45vw;
    margin: 0 auto;
    /* Text Styling */
    font-family: Dickson;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

.redHeaderText {
    color: #EF0101;
}

.userBirthday {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;
}

.userBirthday input#birthday {
    background-color: #010101;
    padding: 10px;
    border: solid;
    border-color: #010101;
    border-radius: 20px;
    color: #FFFAF5;
    font-family: Moderat;
}

.userBirthday input#birthday::-webkit-calendar-picker-indicator {
    background-color: #FFFAF5;
    color: #FFFAF5;
}

.zodiac-grid {
    display: flex;
    flex-wrap: wrap;
}

.zodiac-grid > div {
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    flex: 0 0 calc(16.666% - 2vw);
    flex-grow: 2;
}

.zodiac-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zodiac-grid .zodiacBox {
    position: relative;
}

.zodiac-grid .zodiacInfoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.76);
}

.zodiacInfoOverlay img {
    width: 48px; /* Adjust the width as needed */
    height: 48px; /* Adjust the height as needed */
    margin-bottom: 8px;
}

.zodiac-grid h3 {
    font-family: 'Dickson';
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
    color: #FFFAF5;
}