.hideMain {
    display: none;
}

/* BORDER STYLING */

body {
    background-color: #f7f7f7;
    border: #000000;
    border-style: solid;
    border-width: .2rem;
    margin: 20px;
}

.characterProfile,
.characterGif,
.characterTagline,
.characterVideo,
.characterZodiac,
.characterImage {
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

/* TEXT STYLYING!!! */

h1 {
    font-family: 'Dickson';
    font-weight: 900;
}

/* Centers all .characterTagline + .characterZodiac H1's. */
.center{
    text-align: center;
    margin: 0 0 0 0;
}

h2 {
    font-family: 'Moderat';
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

p {
    font-family: 'Moderat';
    font-weight: bold;
    font-style: normal;
}

.characterProfile h1 {
    /* font-size: 6rem; */
    margin: 0px;
}


/* Media queries for smaller screens */
@media screen and (min-width: 1500px) {
    .characterProfile h1 {
        font-size: 9rem; /* Adjust font size for smaller screens (tablets) */
    }
    
    .characterProfile h2 {
        font-size: 2rem; /* Adjust font size for smaller screens (tablets) */
        margin-bottom: 10px;
    }
    
    .characterProfile p {
        font-size: 1.5rem; /* Adjust font size for smaller screens (tablets) */
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .characterTagline h1, .characterZodiac h1 {
        font-size: 7rem;
    } 
}

@media screen and (min-width: 1000px) {
    .characterProfile h1 {
        font-size: 6.5rem; /* Adjust font size for smaller screens (mobile devices) */
    }
    
    .characterProfile h2 {
        font-size: 1.3rem; /* Adjust font size for smaller screens (mobile devices) */
        margin-bottom: 5px;
    }
    
    .characterProfile p {
        font-size: 1rem; /* Adjust font size for smaller screens (mobile devices) */
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .characterTagline h1, .characterZodiac h1 {
        font-size: 4rem;
    } 
}


/* BUTTON STYLING */ 

.enterNewBtn {
    background-color: #EF0101;
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Moderat';
    font-weight: 500;
}

.enterNewBtn::after {
    content: "\2192"; 
    margin-left: 10px; 
    font-family: 'Moderat';
    font-weight: 500;
}

.scrollBtn {
    background-color: #EF0101;
    border: none;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Moderat';
    font-weight: 500;
}

.buttonFormat {
    display: flex;
    flex-direction: row;
}

/* GRAPHIC STYLING */

/* Sets the size of the zodiac icon */

.zodiacIcon {
    width: 35px;
    height: 35px;
}

.zodiacImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GRID STYLING */

.zodiacProfile {
    display: flex;
    max-width: 100vw;
    max-height: 150vh;
}

/* Sets the first set containing .characterProfile, .characterGif, .characterTagline, .characterVideo to be 70% of the viewport width. */
.setOne {
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 65%;
}

/* Contains the character profile, gif and tagline. Sets the height of rowOne to be 45% of the ENITRE CONTAINER (.zodiacProfile).*/
.rowOne{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}

/* Sets the width of the .characterProfile to be 60% of the .rowOne container. */
.characterProfile {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    flex-grow: 1;
}

/* Sets the height of the .characterGif to be 70% of the .rowOne container. */
.characterGif {
    width: 100%;
    height: 75%;
}

/* Sets the height of the .characterTagline to be 30% of the .rowOne container. */
.characterTagline {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
}

/* Contains the character gif and tagline. Sets the width to be 40% of the .setOne container. */
.stackOne {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.characterVideo {
    height: 60%;
    width: 100%;
}

/* Stacks the .characterZodiac and .characterImage atop each other into a column. Set's this column (Set 2) to be 30% of the viewport width. */
.setTwo {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 150vh;
}

/* Sets the width and height to 100% of .setTwo CONTAINER.*/
.stackTwo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Sets the height of .characterZodiac to be 15% of the .setTwo container */
.characterZodiac {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5%;
}

/* Sets the height of .characterImage to be 85% of the .setTwo container */
.characterImage {
    display: flex;
    height: 87.5%;
    overflow: hidden;
}

.characterVideo video {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}